html, body {
    
    margin: 0;
    overflow-x: hidden;
    background-color: #EBECED;
    
}
.Login {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
}

.Login-box {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    position: static;
    

    
}
.L {
    display: flex;
    flex-direction: column;
    padding-left: 200x;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px ;
    
}
#google{
    color: blue;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    
    
    
}


.go{
    color:red;
    padding-right: 30px;
}
.fb{
    padding-right: 30px;
}
.aling{
    display: flex !important;
    flex-direction: column;
}

.home nav{
    padding: 6px;
}
.navs{
    background-color:#37454D;
    border-style: groove;
    border-width: 1px 1px 1px 1px;
    border-color: #757575;
    
}
.name{
    padding: 16px;
}
.home-avatar{
    height: 50px;
}
.login-box2{
    
    padding-left: 16px;
}





* {
    margin:0;
    padding:0;
    font:12pt Arial;
}



.field {
  display:flex;
  position:relative;
  margin:5em auto;
  width:95%;
  flex-direction:row;
  
}

.field>input[type=text],

.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(100, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}
.crds{
    position: absolute;
    top: 1px;
    left: 350px;
    font-size: 18px;
    width: 70%;
    margin: 0;
    padding: 0;
    height: 180px; 
    
    
    
}
.buscar{
    width: 40%;
    
    position: absolute;
    top: 8px;
    left: 350px;
    font-size: 18px;
}
.imgs{
    
    
}